@model Conspect_sharing.Models.HomeViewModels.IndexViewModel

<head>
    <link href="~/css/main_page.css" rel="stylesheet" />
</head>

@foreach (var article in Model.Articles)
{
    @*@article.Name
    @article.Description
    @article.Specialty*@

<div class="full-wrapper">
    <div class="inner-wrapper">
        <div class="article-preview">
            <h6 class="article-date">@article.CreatedDate</h6>
            <h3 class="article-h1"><a href="">@article.Name</a></h3>
            <p class="article-p">    @article.Description</p>

            <p class="article-link"><a asp-area="" asp-controller="ArticleManage" asp-route-Id=@article.Id asp-action="ArticleRead">@Localizer["Read"]</a>
            </p>
            <div class="article-breaker"></div>
        </div>
    </div>
</div>
}

            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   class="btn btn-default btn">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Назад
                </a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   class="btn btn-default btn">
                    Вперед
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
