@model IEnumerable<Conspect_sharing.Models.ViewModels.ArticleListViewModel>

<p>
    @Localizer["MyArticles"]
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Description"]
            </th>
            <th>
                @Localizer["Specialty"]
            </th>
            <th>
                @Localizer["CreatedDate"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "EditArticle", "ArticleManage", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "DeleteArticle", "ArticleManage", new { articleId = item.Id}) |
                @Html.ActionLink("Просмотр", "ArticleRead", "ArticleManage", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
