@model Conspect_sharing.Models.ArticleModel
<head>
    <link rel="stylesheet" href="~/css/simplemde.min.css">
    <link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
</head>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveUpdatedArticle" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="row-sm-8">
                    <div class="col-sm-7">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" id="description" class="form-control"  placeholder="@Localizer["Description"]" />
                        <span asp-validation-for="Description" class="text-danger" id="des_span"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Specialty" class="control-label"></label>
                        <input asp-for="Specialty" class="form-control" autocomplete="off"
                               placeholder="@Localizer["Speciality"]" />
                        <span asp-validation-for="Specialty" class="text-danger"></span>
                    </div>
                    <div hidden class="form-group">
                        <input asp-for="UserId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" autocomplete="off"
                               placeholder="@Localizer["Name"]" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:700px">
                        <label asp-for="Text" class="control-label"></label>
                        <div id="container-fluid">
                            <textarea id="editor" asp-for="Text"></textarea>
                            <span asp-validation-for="Text" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="button" onclick="editeArticle('@Model.UserId','@Model.Id')"
                               value="@Localizer["Save"]" class="btn btn-primary" />
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/js/bootstrap-tagsinput_min.js"></script>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.24.0/codemirror.js"></script>
<script src="~/js/codemirror-4.inline-attachmen.js"></script>
<script src="~/js/editor.js"></script>
<script src="~/js/validate.js"></script>
<script>
    function editeArticle(userId, articleId) {
        let data = getFormData();
        data.userId = userId;
        data.id = articleId;
        sendRequest("/ArticleManage/SaveUpdatedArticle", data, function (href) {
            window.location.href = href;
        });
    }

    function getFormData() {
        let data = {
            text: simplemde.value(),
            id: $('input[name=Id]').val(),
            description: $('input[name=Description]').val(),
            specialty: $('input[name=Specialty]').val(),
            name: $('input[name=Name]').val()
        };
        return data;
    }

    function sendRequest(url, data, callback) {
        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function (data) {
                if (callback != null) {
                    callback(data);
                }
            }
        });
    }
</script>