@model IEnumerable<Conspect_sharing.Models.ViewModels.ArticleListViewModel>

@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Count() == 0)
{
    <H3>@Localizer["ResultNotFound"]</H3>

}
@foreach (var item in Model)
{

    <div class="bs-callout bs-callout-danger">
        <div class="article-name text-cut"> <h4> <a href='~/ArticleManage/ArticleRead?id=@item.Id'> @item.Name </a></h4></div>
        <div style="width:100%">
            <div style="display: inline-block; ">
                <span class="text-muted text-sm"> <i class="fa  fa-lg"></i> - @item.LastModifeDate </span>
            </div>
            <div style="display: inline-block; " id='@item.Id'></div>
        </div>
        <div class="article-speciality text-cut">  @item.Specialty</div>
        <div class="article-description text-cut">  @item.Description</div>
    </div>
}